<div class="mb-4 flex flex-col">
  <div class="rounded-lg border shadow-lg overflow-auto">
    <div class="flex p-4 border-b">
      <h2 class="text-center text-gray-600 text-bold font-xl">Progression</h2>
    </div>
    <div>{{this.plot}}</div>
  </div>
</div>