{{#if this.hasFavoriteAthletes}}
  <h2 class="my-4">Favorites</h2>
  <ul>
    {{#each this.favoriteAthletes as |athlete|}}
      <li class="mb-2">
        <LinkTo
          @route="athlete.summary"
          @model={{athlete.id}}
        >{{athlete.name}}</LinkTo>
      </li>
    {{/each}}
  </ul>
{{/if}}