{{#if this.hasFavoriteAthletes}}
  <div class="rounded-xl border shadow-xl mt-16">
    {{#each this.localFavorites as |athlete|}}
      <div class="p-4 border-b flex justify-between">
        <div class="grow">
          <LinkTo
            @route="athlete.summary"
            @model={{athlete.id}}
          >{{athlete.name}}</LinkTo>
        </div>
        <div class="flex-none">
          <FavoriteButton @clickHandler={{(fn this.favoriteAthlete athlete)}} @isFavorite={{true}} />
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}