{{#if this.hasFavoriteAthletes}}
  <div class="rounded-xl border shadow-xl mt-16">
    <ul>
      {{#each this.favoriteAthletes as |athlete|}}
        <li class="p-4 border-b">
          <LinkTo
            @route="athlete.summary"
            @model={{athlete.id}}
          >{{athlete.name}}</LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}