<div class="flex flex-col justify-center">
  <div class="bg-indigo-500 p-4 mb-8">
    <h1 class="text-indigo-50">Milesplit Data</h1>
  </div>
  <div class="flex justify-center">
    {{outlet}}
  </div>
</div>